#sidebar {
    position: absolute;
    min-height: 100%;
    padding-left: 5px;
    padding-bottom: : 0;
    background-color: #ffffff;
    top: 0;
    left: 0;
}
#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#sidebar.active ul li a {
    padding: 20px 10px;
    font-size: 0.85em;
}
#sidebar.active ul ul a {
    padding: 2px;
    display: block;
}
#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}
#sidebar.active ul li a span {
    display: none;
}
#sidebar.active button span {
    display: none;
}

#content {
    position: absolute;
    margin: auto;
    padding-right:10px;
    padding-left: 20px;
    right: 0px;
    width: 100%;
}

.footer {
  border-top: 1px solid rgba(152, 166, 173, 0.2);
  bottom: 0px;
  color: #98a6ad;
  text-align: right;
  padding: 19px 30px 20px;
  position: absolute;
  right: 0px;
  width: 85%;
  background-color: #ffffff;
}
.body {
  background-color: #8fb9fc;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#logologin {
    width: 250px;
    height: 250px;
}
#logomain {
    width: 100px;
    height: 100px;
}

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
    }
    #sidebar ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }
    #sidebar ul ul a {
        padding: 2px;
        display: block;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }
    #sidebar ul li a span {
        display: none;
    }
    #sidebar button span {
        display: none;
    }
    .sidetog {
        display: none;
    }
}
